<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<h2>Comments</h2>
<%= render @article.comments %>
<h2>Rating average :</h2>
<td><%= @article.ratings.average(:score) %></td>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 
<h2>Rating</h2>
 <h2>Add a rating:</h2>
<%= form_for [ @article, @article.ratings.build ] do |form| %>
  <p>
    <%= form.label :score %><br>
    <%= form.number_field :score, min:0 , max:5 %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>